html
  head
    title= title
    link(rel="stylesheet" href="styles.css")
  body
    h1 #{first_name} #{last_name}
    div You're #{Age} and you were born in #{born}
    button(class="button2") this is a lame button
